<h1 class="title">Fonts Manager</h1>
<h2 class="subtitle">Powered by Google Fonts</h2>
<hr>
<p>Fonts manager allows you to browse through fonts that are available in the system as well as being able to set a particular font.</p>
<br>
<button id="set-default" class="button title has-text-weight-normal default-font">System Default</button>
<br>
<button id="set-raleway" class="button title raleway-font">Raleway</button>
<br>
<button id="set-grandstander" class="button title grandstander-font">Grandstander</button>
<br>
<button id="set-worksans" class="button title worksans-font">Work Sans</button>
<br>