<h1 class="title">Icons Gallery</h1>
<h2 class="subtitle">Powered by Font Awesome</h2>
<hr>
<p>The icons gallery allows you to browse through the list of icons that will eventually make it's way into the Aerius Project</p>
<div class="columns is-mobile is-multiline mt-5 has-text-centered">
    <div class="column is-3">
        <i class="fa fa-3x fa-info-circle"></i>
        <p>Information</p>
    </div>
    <div class="column is-3">
        <i class="fas fa-3x fa-exclamation-triangle"></i>
        <p>Exclamation</p>
    </div>
    <div class="column is-3">
        <i class="fas fa-3x fa-save"></i>
        <p>Save</p>
    </div>
    <div class="column is-3">
        <i class="fas fa-3x fa-sticky-note"></i>
        <p>Sticky Note</p>
    </div>
    <div class="column is-3">
        <i class="fas fa-3x fa-share-alt-square"></i>
        <p>Share</p>
    </div>
    <div class="column is-3">
        <i class="fas fa-3x fa-cog"></i>
        <p>Settings</p>
    </div>
    <div class="column is-3">
        <i class="fas fa-3x fa-spinner fa-pulse"></i>
        <p>Loading</p>
    </div>
    <div class="column is-3">
        <i class="fas fa-3x fa-sync-alt fa-pulse"></i>
        <p>Syncing</p>
    </div>
    <div class="column is-3">
        <i class="fas fa-3x fa-user"></i>
        <p>Profile</p>
    </div>
    <div class="column is-3">
        <i class="fas fa-3x fa-bell"></i>
        <p>Notification</p>
    </div>
    <div class="column is-3">
        <i class="fas fa-3x fa-comments"></i>
        <p>Dialog</p>
    </div>
</div>