<h1 class="title">Unsplash Wallpapers</h1>
<p>A Public API Demo for setting beautiful wallpapers from Unsplash</p>
<hr>
<button class="button is-primary" id="randomise-wallpaper-button">Randomise Wallpaper</button>