/* CSS for the login window */

/* For Debugging, set the background to a different colour */
body {
    background-color: blue;
    font-family: sans-serif;
}

.hidden {
    display: none !important;
}

.container {
    /* Styling */
    width: 800px;
    height: 500px;
    border-radius: 24px;
    background-color: rgba(255, 0, 0, 0.75);

    /* Shadows */
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);

    /* Overflow Hidden */
    overflow: hidden;
}

.container-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.panel {
    /* Styling */
    height: 500px;
    width: 400px;
    background-color: white;

    /* Shadows */
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);

    /* Positioning */
    position: absolute;
    top: 0;

    /* Alignment */
    text-align: center;
}

.panel-content,
.panel-overlay-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.panel-content > form > input {
    width: 300px;
    height: 24px;
    margin-top: 24px;
    background-color: lightgray;
}

.panel-content > form > button,
.panel-overlay-content > button  {
    width: 240px;
    height: 48px;
    margin-top: 48px;
    border-radius: 24px;
    border-width: 0px;
}

/* Panel Speicifc Stuff ---------------------------------------------------- */
.panel-signin {
    left: 0;
    width: 400px;
    z-index: 2;
}

.panel-signup {
    left: 0;
    width: 400px;
    z-index: 1;
}

/* Overlay Panels used to mask the inactive form elements ------------------ */

.panel-overlay {
    position: absolute;
    top: 0;
    background-color: green;
    z-index: 5;
    overflow: hidden;
    transition: transform 1s ease-in-out;
}

.panel-overlay-left {
    left: 0;
    transform: translateX(0);
}

.panel-overlay-right {
    right: 0;
}

/* Actions based on what is selected --------------------------------------- */

/* Animations -------------------------------------------------------------- */
