/* Custom icons for Aerius ------------------------------------------------- */

.icon-launcher {
    background-image: url('/static/hamburger.svg');
    height: $menu-bar-icon-size;
    width: $menu-bar-icon-size;
    background-repeat: no-repeat;
    position: relative;
    transition: $default-transition;
    top: -12px;
}

.icon-launcher.active {
    background-image: url('/static/close-hamburger.svg');
    transition: $default-transition;
}