/* Launcher Menu - General Styles ------------------------------------------ */

.overlay-launcher {
    height: calc(100vh - 48px);
    background-color: $overlay-color-dark;
    top: 48px;
    z-index: 500;
}

/* Launcher Menu - Header Styles ------------------------------------------- */

.launcher-header{
    width: 100%;
    height: 64px;

    position: absolute;
    top: 48px;
    left: 0;
    
    display: flex;
}

.launcher-header > .header-left,
.launcher-header > .header-center,
.launcher-header > .header-right {
    padding: $half-padding;
    display: flex;
}

.launcher-header > .header-left {
    justify-content: flex-start;
    min-width: 15vw;
    flex-grow: 1;
}

.launcher-header > .header-center {
    justify-content: center;
    min-width: 25vw;
    max-width: 75vw;
    flex-grow: 2;
}

.launcher-header > .header-right {
    justify-content: flex-end;
    min-width: 15vw;
    flex-grow: 1;
}

#launcher-search-field {
    min-width: 25vw;
    max-width: 75vw;
}

/* Launcher Menu - Content Styles ------------------------------------------ */

.launcher-heading {
    color: white;
    font-weight: bold;
}

.launcher-divider {
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: $overlay-color;
}

.launcher-body {
    position: relative;
    top: 128px;
    height: calc(100vh - 192px);
    padding: $normal-padding;
}

.launcher-body > .columns {
    height: 95%;
    margin-top: 1vh;
}

.recent-app-tile {
    width: 90%;
    height: 20vh;
    
    // Debug Background Color (for now)
    background-color: rgba(0, 8, 255, 0.75);
    margin-bottom: $normal-padding;

    cursor: pointer;

    /* For layered 3D tilt */
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.recent-app-tile:active {
    width: 85%;
    margin-left: 2.5%;
    height: 19vh;
    margin-bottom: 3.5vh;
}

.app-tile-title {
    width: inherit;
    margin-left: inherit;
    height: 5vh;
    position: absolute;
    bottom: 0px;

    /* For layered 3D tilt */
    transform: translateZ(40px) translateX(16px) translateY(-24px);
    padding: 12px;

    font-weight: bold;
    color: white;
    font-size: 1.2rem;
}

.app-tile {
    width: 100%;
    height: 20vh;
    background-color: blue;
    border-radius: 8px;

    cursor: pointer;

    /* For Layered 3D Tilt */
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.app-tile:active {
    width: 85%;
    height: 18vh;
    margin-left: 7.5%;
    margin-top: 1vh;
    transition: 0.25s;
}

.app-tile > .app-tile-title {
    width: 90%;
}

.all-apps-container {
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 8px;
    height: 95%;
}

/* Animations -------------------------------------------------------------- */

.animate-open {
    animation: fadeIn 0.5s ease-out 0s forwards;
}

.animate-close {
    animation: fadeOut 0.25s ease-out 0s both;
}

@keyframes fadeIn {
    0% { 
        opacity: 0;
        transform: scale(0.95);
    }
    75% {
        opacity: 1;
        transform: scale(1.0);
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
    }
    80% {
        backdrop-filter: blur(2px);
    }
    /* Do the backgrop filter later for performance reasons */
    100% {
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
    }
}

@keyframes fadeOut {
    0% { 
        opacity: 1;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
    };
    100% { opacity: 0 };
}