/* Styles for the login page */

.login-container {
    /* Styling */
    width: 800px;
    height: 500px;
    border-radius: 24px;

    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);

    overflow: hidden;
}

.container-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.panel-container {
    width: 800px;
    height: 500px;
    display: flex;
}

.panel {
    background-color: white;
    width: 400px;
    height: 500px;
    text-align: center;

    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
}

.panel-semi-transparent {
    background-color: rgba(255,255,255,0.5);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.panel-left {
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

    z-index: 100;
}

.panel-right {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;

    z-index: 90;
}

.panel-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}