/* Menu Bar Specific Styles ------------------------------------------------ */

$menu-bar-padding: 12px;
$menu-bar-icon-size: 48px;

.menu-bar {
    height: 48px;
    background-color: $glass-color;
    backdrop-filter: $glass-backdrop;
    -webkit-backdrop-filter: $glass-backdrop;
    padding: $menu-bar-padding;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.menu-bar-container {
    flex-grow: 4;
    height: inherit;
    display: flex;
}

.menu-bar-left {
    justify-content: flex-start;
}

.menu-bar-left > .menu-bar-item {
    margin-right: $menu-bar-padding;
}

.menu-bar-right {
    justify-content: flex-end;
}

.menu-bar-right > .menu-bar-item {
    margin-left: $menu-bar-padding;
}

.menu-bar-spacer {
    flex-grow: 3;
    height: inherit;
}

.menu-bar-item {
    height: inherit;
    min-width: 64px;
    transition: $default-transition;
    padding: $menu-bar-padding;
    cursor: pointer;
}

.menu-bar-item:hover {
    background-color: $glass-color-hover;
    transition: $hover-transition;
}

.menu-bar-item[active=true] {
    background-color: $glass-color-active;
    transition: $active-transition;
}

.menu-bar-icon,
.menu-bar-item {
    font-weight: bold;
    text-align: center;
    color: black;
}

.menu-bar-item > svg,
.menu-bar-item > .status-connected > svg,
.menu-bar-item > .status-disconnected > svg {
    margin-left: 6px;
}

#menu-bar-logout > svg {
    height: 24px;
}

/* Animations -------------------------------------------------------------- */

.slide-in-top {
    animation: slideInFromTop 0.5s ease-out 0s forwards;
}

@keyframes slideInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-48px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}