/* Shared SCSS Stuff */

.hidden {
    display: none;
}

.debug-background {
    background-color: red;
}

.overlay {
    background-color: $overlay-color;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}