.window-container {
    width: 800px;
    height: 600px;
    border-radius: 12px;
    padding: 12px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.75);

    position: absolute;
    top: 96px;
    left: 96px;

    will-change: left, top;

    z-index: 50;
}

.window-notification {
    width: 450px;
    height: 220px;
    z-index: 5000;
}

.window-is-fullscreen {
    width: 100vw;
    height: calc(100vh - 48px);
    top: 48px !important;
    left: 0px !important;

    transition: all 0.5s;
}

.window-inactive {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
    z-Index: 0;

    .window-titlebar {
        filter: grayscale(100%) brightness(115%);
    }

    .window-footer {
        filter: grayscale(100%) brightness(115%);
    }
}

.window-titlebar {
    background-color: lightgrey;
    height: 48px;
    margin: -12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding-left: 12px;
    padding-right: 12px;
}

.window-content {
    background-color: white;
    flex-grow: 1;
    margin: -12px;
    margin-top: 12px;
    padding: 24px;
    padding-top: 12px;
}

.window-footer {
    height: 24px;
    margin: -12px;
    margin-top: 12px;
    background-color: lightgrey;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.has-white-footer {
    background-color: white;
}

/* Titlebar Core ----------------------------------------------------------- */

.window-titlebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titlebar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    div {
        margin-right: 12px;
    }
}

.titlebar-right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    div {
        margin-left: 72px;
    }
}

.titlebar-center {
    text-align: center;
    align-self: center;

    color: black;
    font-size: 1.2rem;
    font-weight: bold;

}

/* Titlebar Elements ------------------------------------------------------- */

.window-rollup {
    width: 24px;
    height: 24px;
    // background-color: darkorange;
    // TODO - Turn it back to normal once this feautre is implemented
    background-color: grey;
    cursor: not-allowed;
}

.window-fullscreen {
    width: 24px;
    height: 24px;
    background-color: darkgreen;
    border-radius: 50%;
}

.window-close {
    width: 24px;
    height: 24px;
    background-color: crimson;
    border-radius: 50%;
}

.window-rollup:hover {
    // TODO - Turn it back to normal once this feautre is implemented
    // background-color: orange;
    background-color: grey;
}

.window-fullscreen:hover {
    background-color: green;
}

.window-close:hover {
    background-color: red;
}

/* Misc Window Elements ----------------------------------------------------- */
iframe {
    width: calc(100% + 48px);
    height: calc(100% + 36px);
    // For Safari on iOS and MacOS
    height: -webkit-fill-available;
    margin-left: -24px;
    margin-right: -24px;
    margin-bottom: -24px;
    margin-top: -12px;
}

/* Animations --------------------------------------------------------------- */

.animate-window-open {
    animation: fadeWindowIn 0.5s ease-out 0s forwards;
}

@keyframes fadeWindowIn {
    0% {
        opacity: 0;
        transform: scale(0.90);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}