<div id="{{windowID}}" class="window-container animate-window-open">
    <div class="window-titlebar" draggable="true">
        <div class="titlebar-left">
            {{#canRollup}}
            <div class="window-rollup"></div>
            {{/canRollup}}
            <div class="window-fullscreen"></div>
        </div>
        <div class="titlebar-center">{{windowTitle}}</div>
        <div class="titlebar-right">
            <div class="window-close"></div>
        </div>
    </div>

    <div class="window-content">
        <!-- Put window content here with JS -->
    </div>

    <div class="window-footer"></div>
</div>