<div id="{{windowID}}" class="window-container window-notification animate-window-open">
    <div class="window-titlebar" draggable="true">
        <div class="titlebar-left"></div>
        <div class="titlebar-center">{{windowTitle}}</div>
        <div class="titlebar-right"></div>
    </div>

    <div class="window-content">
        <!-- Put window content here with JS -->
    </div>

    <div class="window-footer"></div>
</div>