<div class="panel-loader-container">
    <div class="panel-loader-content">
        <h1 class="title">Welcome to Aerius</h1>
        <p><strong>Preparing your environment</strong></p>
        <progress max="100" value="100" class="progress-indeterminate progress-small mt-5"></progress>
    </div>
</div>