<!-- Primary Login Panel -->
<div id="login-panel" class="login-container container-center">
    <div class="panel-container">
        <div class="panel panel-left">
            <div class="panel-content">
                <form action="#" id="login-form">
                    <h1 class="title mb-5 pb-5">Welcome Back!</h1>
                    <div class="field">
                        <div class="control is-expanded">
                            <input class="input" type="email" name="email" id="login-email" placeholder="Email Address" />
                        </div>
                    </div>
                    <div class="field">
                        <div class="control is-expanded">
                            <input class="input" type="password" name="password" id="login-password" placeholder="Password" />
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button is-info is-medium mt-5" id="login-form-submit">Sign In</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-right panel-semi-transparent">
            <div class="panel-content">
                <h2 class="title mb-5">Don't have an account?</h2>
                <button id="register-panel-show" class="button is-success is-medium mt-5">Sign Up</button>
            </div>
        </div>
    </div>
</div>

<!-- Register Account Panel -->
<div id="register-panel" class="login-container container-center hidden">
    <div class="panel-container">
        <div class="panel panel-left panel-semi-transparent">
            <div class="panel-content">
                <h2 class="title mb-5">Returning User?</h2>
                <button id="login-panel-show" class="button is-success is-medium mt-5">Sign In</button>
            </div>
        </div>
        <div class="panel panel-right">
            <div class="panel-content">
                <form action="#" id="register-form">
                    <h1 class="title mb-5 pb-5">Welcome to Aerius!</h1>
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" name="name" id="register-name" placeholder="Name" />
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input class="input" type="email" name="email" id="register-email" placeholder="Email Address" />
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input class="input" type="password" name="password" id="register-password" placeholder="Password" />
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button id="register-form-submit" class="button is-info is-medium mt-5">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>