body {
    overflow: hidden;
}

.overlay,
.overlay-error {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.75);
}

.overlay-error {
    background-color: orangered;
    z-index: 50000;
    animation: overlay-error-pulse 3s ease-in-out infinite;
}

.overlay-content {
    font-family: sans-serif;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay-content > h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/* Animations -------------------------------------------------------------- */

@keyframes overlay-error-pulse {
    50% {
        background-color: orange;
    }
    100% {
        background-color: orangered;
    }
}