<h1 class="title">More Experiments</h1>
<p>More features that will make it's way into Aerius!</p>
<hr>
<a href="/experiments/div-inactive-alt/index.html" class="button is-link">Active Window Toggle</a>
<br><br>
<a href="/experiments/div-resize/index.html" class="button is-link">Resize Window</a>