<!-- Launcher Menu -->
<div id="launcher-ui" class="overlay overlay-launcher hidden">
    <!-- Header for the overlay -->
    <div class="launcher-header">
        <!-- Left side header content -->
        <div class="header-left"></div>

        <!-- Center header content -->
        <div class="header-center">
            <!-- Search field -->
            <div class="field has-addons has-addons-centered launcher-header-search">
                <p class="control is-expanded">
                    <input class="input" type="text" placeholder="Search" id="launcher-search-field" />
                </p>
                <p class="control">
                    <a class="button is-info" id="launcher-search-button">Search</a>
                </p>
            </div>
        </div>

        <!-- Right Side header content -->
        <div class="header-right"></div>
    </div>

    <!-- Main body content -->
    <div class="launcher-body" id="launcher-body">
        <div class="columns">
            <!-- The recent apps column -->
            <div class="column is-one-third launcher-divider">
                <div class="title is-3 launcher-heading">Recent Apps</div>
                <!-- TODO: If there are no recent apps, show this, uncomment when ready -->
                <div id="no-recent-message" class="title is-4 launcher-heading notification is-info mr-3 hidden">There are no recent apps</div>
                <div id="recent-soon-message" class="title is-4 launcher-heading notification is-warning mr-3">This feature is coming soon!</div>
                <div id="recent-apps-list">
                    <!-- Recent apps go here (using javascript) -->
                </div>
                <div class="button my-5 hidden" id="clear-recent-apps">Clear Recents</div>
            </div>

            <!-- The app apps list -->
            <div class="column ml-5">
                <div class="title is-3 launcher-heading">All Apps</div>
                <div class="all-apps-container">
                    <div class="columns is-multiline" id="all-apps-grid">
                        <!-- All apps go here (using javascript -->
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</div>