<!-- Menu Bar -->
<div class="menu-bar slide-in-top">
    <!-- Left hand menu bar content container -->
    <div class="menu-bar-container menu-bar-left">
        <!-- Menu Bar Items -->
        <div class="menu-bar-item has-tooltip-arrow has-tooltip-bottom" data-tooltip="App Launcher">
            <!-- App Launcher Icon -->
            <div class="menu-bar-icon icon-launcher" id="app-launcher-button"></div>
        </div>
        <div class="menu-bar-item has-tooltip-arrow has-tooltip-bottom" data-tooltip="Running Apps List">
            <div class="menu-bar-icon" id="app-running-list-button">
                <!-- Task View Icon; From Icon Monster - https://iconmonstr.com/window-20-svg/ -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M1.926 7l-.556-3h21.256l-.556 3h-20.144zm1.514-5l-.439-1.999h17.994l-.439 1.999h-17.116zm-3.44 7l2.035 14.999h19.868l2.097-14.999h-24zm3.782 13l-1.221-9h18.86l-1.259 9h-16.38z"/></svg>
            </div>
        </div>
    </div>
    <!-- Spacer between the menu bar content containters -->
    <div class="menu-bar-spacer"></div>
    <!-- Right hand menu bar content container -->
    <div class="menu-bar-container menu-bar-right">
        <!-- System status, controls and indicators -->
        <div class="menu-bar-item has-tooltip-arrow has-tooltip-bottom" data-tooltip="Connection Status">
            <div class="menu-bar-icon status-connected" id="menu-bar-status-connected">
                <!-- From Icon Monster - https://iconmonstr.com/cloud-17-svg/ -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 5c3.453 0 5.891 2.797 5.567 6.78 1.745-.046 4.433.751 4.433 3.72 0 1.93-1.57 3.5-3.5 3.5h-13c-1.93 0-3.5-1.57-3.5-3.5 0-2.797 2.479-3.833 4.433-3.72-.167-4.218 2.208-6.78 5.567-6.78zm0-2c-4.006 0-7.267 3.141-7.479 7.092-2.57.463-4.521 2.706-4.521 5.408 0 3.037 2.463 5.5 5.5 5.5h13c3.037 0 5.5-2.463 5.5-5.5 0-2.702-1.951-4.945-4.521-5.408-.212-3.951-3.473-7.092-7.479-7.092zm-.773 13.911c1.806-3.239 3.061-4.904 4.773-6.398l-.224-.513c-2.076 1.292-3.193 2.266-4.885 4.185-.899-.641-1.407-.936-2.207-1.323l-.684.632c1.368 1.269 2.112 2.105 3.227 3.417z"/></svg>            </div>
            <div class="menu-bar-icon status-disconnected hidden" id="menu-bar-status-disconnected">
                <!-- From Icon Monster - https://iconmonstr.com/cloud-34-svg/ -->
                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M6.817 5.084l-2.057-2.937 1.639-1.147 14.601 20.853-1.638 1.147-1.401-2h-12.461c-3.037 0-5.5-2.463-5.5-5.5 0-2.702 1.951-4.945 4.521-5.408.105-1.965.965-3.73 2.296-5.008zm3.032-1.771c.681-.204 1.403-.313 2.151-.313 4.006 0 7.267 3.141 7.479 7.092 2.57.463 4.521 2.706 4.521 5.408 0 1.898-.962 3.571-2.424 4.56l-1.149-1.64c.947-.627 1.573-1.702 1.573-2.92 0-2.969-2.688-3.766-4.433-3.72.324-3.983-2.114-6.78-5.567-6.78-.317 0-.624.023-.922.068l-1.229-1.755zm-4.349 15.687h11.061l-8.595-12.274c-1.038 1.169-1.618 2.895-1.533 5.054-1.954-.113-4.433.923-4.433 3.72 0 1.93 1.57 3.5 3.5 3.5z"/></svg>
            </div>
        </div>
        <div class="menu-bar-item has-tooltip-arrow has-tooltip-bottom" data-tooltip="System Clock" id="menu-bar-status-clock">Time</div>
        <div class="menu-bar-item has-tooltip-arrow has-tooltip-bottom" data-tooltip="User Account" id="menu-bar-status-user">UserName</div>
        <div class="menu-bar-item has-tooltip-arrow has-tooltip-bottom" data-tooltip="Logout" id="menu-bar-logout">
            <!-- Logout Button -->
            <!-- From Icon Monster - https://iconmonstr.com/log-out-9-svg/ -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M16 9v-4l8 7-8 7v-4h-8v-6h8zm-2 10v-.083c-1.178.685-2.542 1.083-4 1.083-4.411 0-8-3.589-8-8s3.589-8 8-8c1.458 0 2.822.398 4 1.083v-2.245c-1.226-.536-2.577-.838-4-.838-5.522 0-10 4.477-10 10s4.478 10 10 10c1.423 0 2.774-.302 4-.838v-2.162z"/></svg>
        </div>
    </div>
</div>