<div class="columns is-mobile">
    <div class="column is-one-fifth">
        <span class="icon has-text-info is-large">
            <i class="fas fa-3x fa-info-circle"></i>
        </span>
    </div>
    <div class="column">
        {{bodyText}}
    </div>
</div>
<div class="level">
    <div class="level-left"></div>
    <div class="level-right">
        <div class="level-item">
            <button class="button is-info" close-notification>Okay</button>
        </div>
    </div>
</div>