.window-container {
    background-color: white;
    border-style: none;
    width: 800px;
    height: 800px;
    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.75);

    position: absolute;
    top: 140px;
    left: 80px;
    
    /* Tell browser tha tthis will change */
    will-change: transform;
}

.window-titlebar {
    background-color: white;
    border-style: none;
    width: 800px;
    height: 36px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    position: absolute;
    top: 0px;
    left: 0px;

    /* Tell browser tha tthis will change */
    will-change: transform;

    cursor: move;
}

.window-titlebar-left {
    position: absolute;
    left: 0px;
    cursor: default;
}

.titlebar-shape-square {
    width: 18px;
    height: 18px;
    background-color: darkorange;
    position: relative;
    top: 12px;
    left: 8px;
}

.titlebar-shape-square:hover {
    background-color: orange;
}

.titlebar-shape-fullscreen {
    height: 18px;
    width: 18px;
    background-color: darkgreen;
    border-radius: 50%;
    position: relative;
    top: -6px;
    left: 36px;
}

.titlebar-shape-fullscreen:hover {
    background-color: green;
}


.window-titlebar-title {
    text-align: center;
    font-weight: bold;
    color: black;
    line-height: 36px;
    font-size: 1rem;
}

.window-titlebar-right {
    position: absolute;
    right: 0px;
    cursor: default;
}

.titlebar-shape-close {
    height: 18px;
    width: 18px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    top: -24px;
    right: 8px;
}

.titlebar-shape-close:hover {
    background-color: orangered;
}

.window-content {
    position: relative;
    top: 36px;
    left: 8px;
}