.initial-app-load {
    transform: translate(-100%, 0%);
}

html, body {
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Desktop Background ------------------------------------------------------ */

.desktop {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: all 0.75s ease-in-out;

    // Remove this as this will interfere with filters
    // will-change: transform;
}

.desktop-background {
    z-index: -100;
    background-image: url('Static/macOS_10-4_demo-bg.png');
    background-position: center;
    background-color: skyblue;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    transform: scale(5);
    animation: animate-background-in 1.25s ease 1s 1 forwards;
}

.wallpaper-attribution {
    position: absolute;
    bottom: 24px;
    right: 24px;
    background-color: $glass-color;
    backdrop-filter: $glass-backdrop;
    padding: 24px;
    border-radius: 8px;
    color: black;
}

.wallpaper-attribution>a {
    font-weight: bold;
}

@keyframes animate-background-in {
    from {
        transform: scale(5);
    }

    to {
        transform: scale(1);
    }
}

/* Desktop Build Strings --------------------------------------------------- */

.app-build-strings {
    position: absolute;
    bottom: 0px;
    padding: 24px;
    left: 0px;
}