/* Font Manager Specific Styles */

.default-font {
    font-family: sans-serif;
}

.raleway-font {
    font-family: 'Raleway',sans-serif;
}

.grandstander-font {
    font-family: 'Grandstander', cursive;
}

.worksans-font {
    font-family: 'Work Sans', sans-serif;
}