/** Base Styles for the launcher experiment */

body {
    font-family: sans-serif;
    margin: 1.5%;
    overflow: hidden;
}

.hidden {
    display: none;
}

/** Launcher specific styles */

.overlay {
    /* Size */
    width: 100vw;
    height: 100vh;

    /* Position */
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.75);
    opacity: 0;
}

.animate-in {
    animation: fade-in 0.25s linear 0s forwards;
}

.animate-out {
    animation: fade-out 0.25s linear 0s forwards;
}

.launcher-header {
    width: 100vw;
    height: 48px;
    padding: 12px;
    background-color: rgba(0,0,0,0.75);

    position: absolute;
    top: 0;
    left: 0;

    color: white;
    z-index: 1000;
}

.launcher-header-left {
    height: inherit;
    padding: 0px;
    position: absolute;
    left: 12px;
}

.launcher-header-center {
    height: inherit;
    padding: 0px;
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
}

.launcher-search-field {
    width: 30vw;
    height: calc(100% - 8px);
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
}

.launcher-search-button {
    height: calc(100% - 8px);
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    margin-left: -12px;
    margin-top: 8px;
}

.button {
    width: 48px;
    height: 48px;
    background-color: red;

    cursor: pointer;
}

.button-close {
    border-radius: 50%;
    font-weight: 900;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
}

.button-wide {
    width: fit-content;
    font-weight: 900;
    font-size: 24px;
    margin-top: 24px;
}

.launcher-body {
    /* Height minus nav height minus nav padding */
    height: calc(100% - 48px - 12px);
    width: 100vw;
    position: absolute;
    /* Move it down by the size of the nav + padding */
    top: calc(48px + 12px);
    background-color: green;

    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 12px;
    padding-right: 12px;

    display: inline-flex;

    color: white;
}

.launcher-body-left {
    width: calc(30vw - 24px);
    background-color: blue;
    height: inherit;

    /* Ensure the content within is flexed vertically */
    display: flex;
    flex-direction: column;
}

.launcher-body-right {
    margin-left: 12px;
    width: calc(70vw - 24px);
    background-color: violet;
    height: inherit;
}

.launcher-content-header {
    padding-top: 24px;
    padding-left: 24px;
}

.launcher-content {
    padding: 24px;
}

.launcher-applet-recent {
    margin-top: 24px;
    width: 100%;
    height: 20vh;
    background-color: yellow;
}

.launcher-applet {
    width: 15vw;
    min-width: 200px;
    height: 200px;
    background-color: yellow;

    margin: 24px;
}

.scrollable-content {
    width: calc(70vw - 24px);
     
    /* Ensure the content can be scrolled */
    overflow-y: scroll;
    overflow-x: clip;
    height: calc(100% - 48px - 24px - 12px);

    /* Ensure the content within is flex horizontally and vertically */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin: 0;
    padding: 0;

    margin-top: -24px;
}

/** Animations */

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}