body {
    margin: 24px;
    overflow: hidden;

    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.overlay {
    background-color: rgba(0,0,0,0.75);
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

/* Launcher Header Styles -------------------------------------------------- */

.launcher-header {
    width: 100%;
    height: 64px;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
}

.launcher-header-left,
.launcher-header-right,
.launcher-header-center {
    padding: 12px;
    display: flex;
}

.launcher-header-left {
    justify-content: flex-start;
    min-width: 15vw;
}

.launcher-header-right {
    justify-content: flex-end;
    min-width: 15vw;
}

.launcher-header-center {
    justify-content: center;
    min-width: 70vw;
}

.launcher-header-search {
    width: 50%;
}

/* Launcher Content Styles ------------------------------------------------- */

.launcher-body {
    position: relative;
    top: 64px;
    height: calc(100vh - 128px);
    padding: 24px;
}

.launcher-divider {
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: rgba(255,255,255,0.75);
}

.launcher-heading {
    color: white;
}

.recent-app-tile {
    width: 90%;
    height: 20vh;
    background-color: rgba(0, 8, 255, 0.75);
    margin-bottom: 24px;

    cursor: pointer;

    /* For Layered 3D Tilt */
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.recent-app-tile:active {
    width: 85%;
    margin-left: 2.5%;
    height: 19vh;
    margin-bottom: 3.5vh;
}

.app-tile-title {
    width: inherit;
    margin-left: inherit;
    height: 5vh;
    position: absolute;
    bottom: 0px;

    /* For layered 3D tilt */
    transform: translateZ(40px) translateX(16px) translateY(-24px);
    padding: 12px;

    font-weight: bold;
    color: white;
    font-size: 1.2rem;
}

.app-tile {
    width: 100%;
    height: 20vh;
    background-color: blue;

    cursor: pointer;

    /* For Layered 3D Tilt */
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.app-tile:active {
    width: 85%;
    height: 18vh;
    margin-left: 7.5%;
    margin-top: 1vh;
}

.app-tile > .app-tile-title {
    width: 90%;
}

.all-apps-container {
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 8px;
    height: 80vh;
}

/* Animations -------------------------------------------------------------- */

.animate-open {
    animation: fadeIn 0.5s ease-out 0s forwards;
}

.animate-close {
    animation: fadeOut 0.5s ease-out 0s both;
}

@keyframes fadeIn {
    0% { 
        opacity: 0;
        transform: scale(0.95);
    }
    80% {
        opacity: 1;
        transform: scale(1.0);
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
    }
    85% {
        backdrop-filter: blur(2px);
    }
    /* Do the backgrop filter later for performance reasons */
    100% {
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
    }
}


@keyframes fadeOut {
    0% { opacity: 1 };
    100% { opacity: 0 };
}