/* General Styles ---------------------------------------------------------- */
body {
    font-family: sans-serif;
    padding: 48px;
    background-image: url('background.jpg');
    background-position: center;
    background-size: fill;
}

.experiment-information {
    border-radius: 12px;
    background-color: rgba(255,255,255,0.50);
    backdrop-filter: blur(12px);
    padding: 24px;
    width: 35%;
}

button {
    margin: 24px;
    padding: 12px 24px;
    border-radius: 12px;
}

.hidden {
    display: none;
}

/* Notifications Core ------------------------------------------------------ */

.notification-container {
    width: 500px;
    height: fit-content;
    background-color: rgba(255,255,255,0.50);
    backdrop-filter: blur(4px);
    border-radius: 12px;
    transition: all 0.25s;

    padding: 24px;
}

.notification-container:hover {
    background-color: rgba(255,255,255,1);
    -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.75);

    transition: all 0.5s;
}