body {
    overflow: hidden;
}

.hidden {
    display: none;
}

.debug-red {
    background-color: red;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: -500px;
    opacity: 0;
}

.debug-red > h1 {
    text-align: center;
    color: white;
}

/* Full Screen Page Loader ------------------------------------------------- */
.loader-container {
    width: 100%;
    height: 100%;
    z-index: 10000;
    top: 0px;
    opacity: 0;
    position: absolute;
    background-color: lightskyblue;
    align-items: center;
    animation: 1s loader-transition-in forwards;
}

.loader-body {
    position: absolute;
    color: white;
    font-family: sans-serif;
    font-size: 72px;
    text-align: center;
    z-index: 10200;
    top: 50%;
    left: 50%;
    opacity: 0;
    animation: 0.5s loader-body-transition-in 0.75s forwards;
}

.loader-body > h1 {
    margin-bottom: 0px;
}

.loader-body > p {
    font-size: 42px;
}

/* Spinner Loader ---------------------------------------------------------- */

.loader-spinner-container {
    width: 840px;
    height: 840px;
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    animation: 0.5s loader-spinner-transition-in 1s forwards;
}

.loader-spinner {
    width: 640px;
    height: 640px;
    border: 96px solid white;
    border-radius: 50%;
    border-top: 96px solid lightskyblue;
    border-bottom: 96px solid lightskyblue;
    animation: animation-spinner 1s ease-in-out infinite;
    z-index: 10100;
}

/* Loading Bar Graphic ----------------------------------------------------- */

progress {
    /* Disable the default stying for the progress bar */
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;

    /* Get rid of default border in Firefox and Opera (older version) Basically non web-kit or chromium browsers */
    border: none;

    /* Need to be in here for Safari Polyfill so background images can work as expected */
    background-size: auto;

    /* Dimensions */
    width: 100%;
    height: 24px;
    border-radius: 12px;

    position: absolute;
    bottom: 0px;
}

progress.loader-indeterminate {
    border-radius: 0px;
    height: 24px;
    border: 1px solid white;
    margin-bottom: 2px;
}

progress:after {
    background-image: none;
}

/* Indeterminate Progress Bar */
progress:not([value]) {
    border-radius: 12px;
}

/* Indeterminate Progress Bar (For the loader) */
progress.loader-indeterminate:not([value]) {
    border-radius: 0px;
}

progress[value]::-webkit-progress-bar {
    background-color: lightskyblue;
    border-radius: 12px;
}

progress[value].loader-indeterminate::-webkit-progress-bar {
    background-color: lightskyblue;
    border-radius: 0px;
}

progress[value]::-webkit-progress-value {
    background-color: lightskyblue;
    border-radius: 12px;
}

progress[value].loader-indeterminate::-webkit-progress-value {
    background-color: lightskyblue;
    border-radius: 0px;
}

progress[value].loader-indeterminate::-webkit-progress-value {
    background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(255, 255, 255, .5) 33%, rgba(255, 255, 255, .5) 66%, transparent 66%);
    background-color: lightskyblue;
    border-radius: 0px;
    background-size: 128px 64px;

    -webkit-animation: indeterminate-progress-animation 0.25s linear infinite;
    animation: indeterminate-progress-animation 0.25s linear infinite;
}

progress strong {
    display: none;
}

/* Animations -------------------------------------------------------------- */

@keyframes animation-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes animation-spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes indeterminate-progress-animationi {
    100% {
        background-position: 128px 0px;
    }
}

@-webkit-keyframes indeterminate-progress-animation {
    100% {
        background-position: 128px 0px;
    }
}

@keyframes loader-transition-in {
    from {
        transform: translate(-400%);
    }

    to {
        transform: translate(-0.5%);
        opacity: 1;
    }
}

@keyframes loader-body-transition-in {
    from {
        transform: translate(-100%, -50%);
        opacity: 0;
    }

    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes loader-spinner-transition-in {
    from {
        opacity: 0;
        transform: scale(0.5) translate(-75%, -75%);
    }

    to {
        opacity: 1;
        transform: scale(1.0) translate(-50%, -50%);
    }
}