/* General Styles ---------------------------------------------------------- */
body {
    font-family: sans-serif;
    padding: 48px;
    background-image: url('background.jpg');
    background-position: center;
    background-size: fill;
}

.experiment-information {
    border-radius: 12px;
    background-color: rgba(255,255,255,0.50);
    backdrop-filter: blur(12px);
    padding: 24px;
}

button {
    padding: 12px 24px;
    font-weight: bold;
}

/* Window Core ------------------------------------------------------------- */

.window-container {
    width: 800px;
    height: 600px;
    border-radius: 12px;
    padding: 12px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.75);
}

.window-titlebar {
    background-color: lightgrey;
    height: 48px;
    margin: -12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding-left: 12px;
    padding-right: 12px;
}

.window-content {
    background-color: white;
    flex-grow: 1;
    margin: -12px;
    margin-top: 12px;
    padding: 24px;
    padding-top: 12px;
}

.window-footer {
    height: 24px;
    margin: -12px;
    margin-top: 12px;
    background-color: lightgrey;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.has-white-footer {
    background-color: white;
}

/* Sidebar Window Variation ------------------------------------------------ */
.has-sidebar {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    padding: 0px;
}

.sidebar-panel {
    background-color: rgba(255,255,255,0.75);
    backdrop-filter: blur(12px);
    min-width: 30%;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 0;
}

.sidebar-content {
    background-color: white;
    height: 100%;
    flex-grow: 2;
    flex-shrink: 1;
}

.sidebar-body {
    padding: 24px;
}

.sidebar-panel > .sidebar-body > ul {
    padding-top: 12px;
    list-style-type: none;
}

li {
    margin-bottom: 24px;
}

.sidebar-panel > .sidebar-body > ul .active {
    font-weight: bold;
}

/* Alert Window Variation -------------------------------------------------- */
.window-alert {
    width: 600px;
    height: 300px;
}

.alert-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.alert-body {
    flex-grow: 1;
}

.alert-actions {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-self: flex-end;
    flex-grow: 0;
    gap: 24px;
}

/* Titlebar Core ----------------------------------------------------------- */

.window-titlebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titlebar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.titlebar-right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 12px;
}

.titlebar-center {
    text-align: center;
    align-self: center;

    color: black;
    font-size: 1.2rem;
    font-weight: bold;

}

/* Titlebar Elements ------------------------------------------------------- */

.window-rollup {
    width: 24px;
    height: 24px;
    background-color: darkorange;
}

.window-fullscreen {
    width: 24px;
    height: 24px;
    background-color: darkgreen;
    border-radius: 50%;
}

.window-close {
    width: 24px;
    height: 24px;
    background-color: crimson;
    border-radius: 50%;
}

.window-rollup:hover {
    background-color: orange;
}

.window-fullscreen:hover {
    background-color: green;
}

.window-close:hover {
    background-color: red;
}