
/** General Styles */
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

section {
    margin: 5%;
    padding: 48px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 8px;
    backdrop-filter: blur(8px);
}

/* Wallpaper Specific Styles ----------------------------------------------- */

.wallpaper {
    z-index: -1000;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}

.wallpaper-attribution {
    position: absolute;
    bottom: 24px;
    right: 24px;
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(4px);
    padding: 24px;
    border-radius: 8px;
    color: black;
}

.wallpaper-attribution > a {
    font-weight: bold;
}