/* Buttons ----------------------------------------------------------------- */

.button {
    border-radius: 24px;
    border-style: none;
    height: 36px;
    font-weight: bold;
    font-size: 0.8rem;
    padding-left: 1rem;
    padding-right: 1rem;

    background: rgb(13, 122, 255);
    background: -moz-linear-gradient(0deg, rgba(13, 122, 255, 1) 0%, rgba(0, 212, 255, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(13, 122, 255, 1) 0%, rgba(0, 212, 255, 1) 100%);
    background: linear-gradient(0deg, rgba(13, 122, 255, 1) 0%, rgba(0, 212, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d7aff", endColorstr="#00d4ff", GradientType=1);

    color: white;
    cursor: pointer;
}

.button:disabled {
    color: grey;
    background: darkgrey;
    cursor: not-allowed;
}

.button:disabled:active {
    background: darkgrey;
}

.button:active {
    background: rgb(13, 122, 255);
}

.button-active {
    /* Gradient Outline */
    -webkit-box-shadow: 0px 0px 12px 0px rgba(24, 121, 255, 1);
    -moz-box-shadow: 0px 0px 12px 0px rgba(24, 121, 255, 1);
    box-shadow: 0px 0px 12px 0px rgba(24, 121, 255, 1);
}

.button-active:active {
    background: rgb(13, 122, 255);
}

.button-secondary {
    background: rgb(128, 128, 128);
    background: -moz-linear-gradient(0deg, rgba(128, 128, 128, 1) 0%, rgba(219, 219, 219, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(128, 128, 128, 1) 0%, rgba(219, 219, 219, 1) 100%);
    background: linear-gradient(0deg, rgba(128, 128, 128, 1) 0%, rgba(219, 219, 219, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#808080", endColorstr="#dbdbdb", GradientType=1);
}

.button-secondary:active {
    background: rgb(128, 128, 128);
}

.button-danger {
    background: rgb(226, 16, 38);
    background: -moz-linear-gradient(0deg, rgba(226, 16, 38, 1) 50%, rgba(236, 154, 154, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(226, 16, 38, 1) 50%, rgba(236, 154, 154, 1) 100%);
    background: linear-gradient(0deg, rgba(226, 16, 38, 1) 50%, rgba(236, 154, 154, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e21026", endColorstr="#ec9a9a", GradientType=1);
}

.button-danger:active {
    background: rgb(226, 16, 38);
}

.button-warning {
    background: rgb(226, 114, 16);
    background: -moz-linear-gradient(0deg, rgba(226, 114, 16, 1) 50%, rgba(236, 154, 154, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(226, 114, 16, 1) 50%, rgba(236, 154, 154, 1) 100%);
    background: linear-gradient(0deg, rgba(226, 114, 16, 1) 50%, rgba(236, 154, 154, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e27210", endColorstr="#ec9a9a", GradientType=1);
}

.button-warning:active {
    background: rgb(226, 114, 16);
}

/* Checkboxes ----------------------------------------------------------------- */

/* 
    Inspired from https://css-tricks.com/custom-styling-form-inputs-with-modern-css-features/ 
    Also inspired from https://www.w3schools.com/howto/howto_css_custom_checkbox.asp/
    Remove the browser's default styling on these elements to ensure our overrides work
*/
@supports(-webkit-appearance: none) or (-moz-appearance: none) {
    
    input[type='checkbox'],
    input[type='radio'] {
        -webkit-appearance: none;
        -moz-appearance: none;
    }
}

/* Checkboxes -------------------------------------------------------------- */
input[type='checkbox'],
input[type='radio'] {
    background-color: white;
    border: 1px solid rgb(13,122,255);
    border-radius: 8px;
    height: 36px;
    width: 36px;
    cursor: pointer;
}

input[type='checkbox']:hover,
input[type='radio']:hover {
    background-color: rgba(13, 122, 255, 0.35);
}

input[type='checkbox']:checked {
    background-color: rgba(255, 255, 255, 0.25);
}

/* After Pseudo element for the checkmark */
input[type='checkbox']:checked:after {
    content: '\2713';
    font-size: 24px;
    position: relative;
    top: 2px;
    left: 6px;
    color: rgb(13, 122, 255);
    font-weight: bold;
}

input[type='checkbox']:disabled,
input[type='radio']:disabled {
    color: grey;
    background: darkgrey;
    cursor: default;
    border: 1px solid darkgrey;
    cursor: not-allowed;
}

input[type='checkbox']:checked:disabled:after {
    color: grey;
    background: darkgrey;
    cursor: default;
    border: 1px solid darkgrey;
    cursor: not-allowed;
    color: lightgray;
}

/* Radio Buttons ----------------------------------------------------------- */
/* Specific CSS for radio buttons */

input[type='radio'] {
    border-radius: 50%;
}

input[type='radio']:checked:after {
    content: '\25CF';
    font-size: 24px;
    position: relative;
    top: 3px;
    left: 6px;
    color: rgb(13, 122, 255);
    font-weight: bold;
}

input[type='radio']:checked:disabled:after {
    color: grey;
    background: darkgrey;
    cursor: default;
    border: 1px solid 50% darkgrey;
    cursor: not-allowed;
    color: lightgray;
}