/* Basic Shapes ------------------------------------------------------------ */

.shape {
    width: 140px;
    height: 140px;
    display: inline-block;
    margin-right: 24px;
}

.shape-circle {
    background-color: skyblue;
    border: 1px solid skyblue;
    border-radius: 50%;
}

.shape-square {
    background-color: red;
    border: none;
}

.shape-triangle {
    width: 0px;
    height: 0px;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 140px solid green;
}

/* Table Styles ------------------------------------------------------------ */

table {
    padding-top: 12px;
    width: 100%;
}

th, td {
    padding: 12px;
    vertical-align: top;
}

th {
    text-align: left;
}

.th-shape {
    width: 140px;
}

.tr-header {
    background-color: lightslategray !important;
    color: white !important;
}

tr:nth-child(even) {
    background-color: lightgrey;
}

tr:nth-child(odd) {
    background-color: white;
}

/* Specific Shapes --------------------------------------------------------- */

.shape-triangle-bottom-right {
    width: 0px;
    height: 0px;
    border-bottom: 140px solid black;
    border-left: 140px solid transparent;
    border-right: none;
    border-top: none;

    /* Align to the table column width */
    margin-left: 25%;
}

.shape-connection, .shape-connection::before {
    display: inline-block;
    border: 64px double transparent;
    border-top-color: black;
    border-radius: 50%;
}

.shape-connection::after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: black;
    border: 24px solid black;
    border-radius: 50%;

    /* Manually align the bottom circle psuedo element to be at the centre of the wireless symbol */
    margin-top: 24px;
    margin-left: 38px;
}

.shape-spinner {
    border: 36px solid white;
    border-radius: 50%;
    /* border-top: 36px solid transparent;
    border-bottom: 36px solid transparent; */
    border-top: 36px solid lightskyblue;
    border-bottom: 36px solid lightskyblue;
    animation: animation-spinner 1s ease-in-out infinite;
    width: 96px;
    height: 96px;

    /* background-image: linear-gradient(white, white), linear-gradient(90deg, white, rgba(0, 212, 255, 1) 50%, rgba(0, 131, 158, 1) 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-color: white; */

    position: relative;
    left: 15%;
}

@keyframes animation-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/** Progress Bars ---------------------------------------------------------- */
/* Inspired by https://www.useragentman.com/blog/2012/01/03/cross-browser-html5-progress-bars-in-depth/ */

progress.progress-bar {
    /* Disable the default stying for the progress bar */
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;

    /* Get rid of default border in Firefox and Opera (older version) Basically non web-kit or chromium browsers */
    border: none;

    /* Need to be in here for Safari Polyfill so background images can work as expected */
    background-size: auto;

    /* Dimensions */
    width: 98%;
    height: 48px;
    border-radius: 8px;
}

/* Polyfill */
progress.progress-bar:after {
    background-image: none;
}

progress[value].progress-bar {
    width: 100%;
    height: 48px;
}

progress[value].progress-bar::-webkit-progress-bar {
    background-color: lightgrey;
    border-radius: 12px;
}

progress[value].progress-bar::-webkit-progress-value {
    background-color: skyblue;
    border-radius: 12px;
}


/* Ensure falback text doesn't appear in  polyfill */
progress.progress-bar strong {
    display: none;
}

progress.browser-default:after {
    background-image: unset;
}

progress.browser-default {
    -webkit-appearance: none !important;
    appearance: none !important;
}

/** Indeterminate Progress Bar --------------------------------------------- */

progress.progress-indeterminate {
    /* Disable the default stying for the progress bar */
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;

    /* Get rid of default border in Firefox and Opera (older version) Basically non web-kit or chromium browsers */
    border: none;

    /* Need to be in here for Safari Polyfill so background images can work as expected */
    background-size: auto;

    /* Dimensions */
    width: 98%;
    height: 48px;
    border-radius: 8px;
}

/* Polyfill */
progress.progress-indeterminate:after {
    background-image: none;
}

progress[value].progress-indeterminate {
    width: 100%;
    height: 48px;
}

progress[value].progress-indeterminate::-webkit-progress-bar {
    background-color: lightgrey;
    border-radius: 12px;
}

progress[value].progress-indeterminate::-webkit-progress-value {
    background-color: skyblue;
    border-radius: 12px;
}

/* Ensure that fallback text doesn't appear in polyfill */
progress.progress-indeterminate strong {
    display: none;
}