/* Progress Bar ------------------------------------------------------------ */
progress {
    /* Disable the default stying for the progress bar */
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;

    /* Get rid of default border in Firefox and Opera (older version) Basically non web-kit or chromium browsers */
    border: none;

    /* Need to be in here for Safari Polyfill so background images can work as expected */
    background-size: auto;

    /* Dimensions */
    width: 100%;
    height: 48px;
    border-radius: 12px;

    margin-bottom: 24px;
}

progress:after {
    background-image: none;
}

/* Indeterminate Progress Bar */
progress:not([value]) {
    border-radius: 12px;
}

progress[value] {
    width: 100%;
    height: 48px;
}

progress[value]::-webkit-progress-bar {
    background-color: lightgrey;
    border-radius: 12px;
}

progress[value]::-webkit-progress-value {
    background-color: lightskyblue;
    border-radius: 12px;
}

progress[value].progress-indeterminate::-webkit-progress-value {
    background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(255, 255, 255, .5) 33%, rgba(255, 255, 255, .5) 66%, transparent 66%);
    background-color: lightskyblue;
    border-radius: 12px;
    background-size: 128px 64px;

    -webkit-animation: indeterminate-progress-animation 0.5s linear infinite;
    animation: indeterminate-progress-animation 0.5s linear infinite;
}

progress strong {
    display: none;
}

/* Animation --------------------------------------------------------------- */

@keyframes indeterminate-progress-animation {
    100% {
        background-position: 128px 0px;
    }
}

@-webkit-keyframes indeterminate-progress-animation {
    100% {
        background-position: 128px 0px;
    }
}