<div class="column is-one-third is-one-quarter-fullhd">
    <div id="{{appTileID}}" class="app-tile" data-tilt data-tilt-max="5" data-tilt-speed="400" data-tilt-perspective="500"  data-tilt-glare data-tilt-max-glare="0.8">
        <div class="app-tile-title">
            {{appTitle}}
        </div>
    </div>
</div>