/* Desktop Specific Styles */

html, body {
    overflow: hidden;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body::before {
    content: "";
    background-image: url('wallpaper.jpg');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1000;
}

.hidden {
    display: none;
}

.experiment-content {
    background-color: rgba(255,255,255,0.3);
    
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    margin: 24px;
    margin-top: 48px;
    padding: 24px;
    border-radius: 12px;
    width: fit-content;
    float: right;
    transition: 0.5s;
}

.experiment-content:hover {
    /* background-color: rgba(255,255,255,0.9); */

    /* Experiment idea Thomas, To match menu bar colour */
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.75);
    transition: 1s;
}

.notification-action {
    opacity: 0;
    transition: 0.5s;
    float: right;
}

.experiment-content:hover > .notification-action {
    opacity: 1;
    transition: 1s;
}

/* Menu Bar ---------------------------------------------------------------- */

.menu-bar {
    height: 48px;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    padding: 12px;
    display: flex;
    align-items: center;
}

.menu-bar-container {
    /* padding-left: 12px;
    padding-right: 12px; */
    flex-grow: 4;
    height: inherit;
    display: flex;
}

.menu-bar-left {
    justify-content: flex-start;
}

.menu-bar-left > .menu-bar-item {
    margin-right: 12px;
}

.menu-bar-right {
    justify-content: flex-end;
}

.menu-bar-right > .menu-bar-item {
    margin-left: 12spx;
}

.menu-bar-spacer {
    flex-grow: 3;
    height: inherit;
}

.menu-bar-item {
    height: inherit;
    min-width: 64px;
    /* background-color: rgba(0,0,0,0.15); */
    transition: 0.25s;
    padding: 12px;
    cursor: pointer;
}

.menu-bar-item:hover {
    background-color: rgba(0,0,0,0.3);
    transition: 0.75s;
}

.menu-bar-item[active=true] {
    background-color: rgba(0, 0, 0, 0.35);
    transition: 0.15s;
}

/* App Launcher ------------------------------------------------------------ */
.app-launcher-icon {
    background-image: url('hamburger.svg');
    height: 48px;
    width: 48px;
    background-repeat: no-repeat;
    position: relative;
    top: -12px;
    transition: 0.25s;
}

.app-launcher-icon.active {
    background-image: url('close-hamburger.svg');
    transition: 0.25s;
}

/* Menu Bar Icons ---------------------------------------------------------- */

.menu-bar-item {
    font-weight: bold;
    text-align: center;
    color: black;
}

.menu-bar-item > svg,
.menu-bar-item > .menu-bar-connection > svg {
    width: 24px;
    height: 24px;
    margin-left: 6px;
}